:root {
--dark-green: #2C6E49;
--sea-green: #4C956C;
--light-yellow: #FEFEE3;
--melow: #FFC9B9;
--persian-orange: #D68C45;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
}
