#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.header{
  background-color: #E4E8F0;
}

.form {
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: #252629;
  color: #FFFFFF
}